<h2>Hi <?php echo $user ?></h2>
<br />

<p>
    Follow the next link to verify your email. <a href="<?php echo Router::url("/",true)."users/verify_hash?hash=$hash&email=$email"?>"><?php echo Router::url("/",true)."users/verify_hash?hash=$hash&email=$email"?></a>
    so you'll be able to reset your password
</p>
<br />
<p>
    The Unityzohar.com Team
</p>

