<h2>Hi <?php echo $user["User"]["full_name"] ?></h2>
<br />
    Your membership is now canceled.
<p>
    There will be no further charges to your credit card, in case there's any, please contact to znefesh@gmail.com.
</p>
<p>
    The UnityZohar.com Team
</p>