<h2>Hi <?php echo $user["User"]["full_name"] ?></h2>
<br />
    Thank you, Your Payment with paypal id  <em><?php echo $payment["Payment"]["payment_id"]?></em> and Unity zohar id <em><?php echo $payment["Payment"]["id"]?></em> has been processed.
    <br />
    The status of the payment is: <strong><?php echo $payment["Payment"]["state"]?></strong>
<p>
    The UnityZohar.com Team
</p>