<h2>Hi <?php echo $user ?></h2>
<br />



Thank you for registering with UnityZohar.com. Please follow this link to verify your email and enable access to your account. <a href="<?php echo Router::url("/users/verify?hash=".$hash."&email=".$email,true)?>"><?php echo Router::url("/users/verify?hash=".$hash."&email=".$email,true)?></a>

<p>
    The UnityZohar.com Team
</p>