@font-face {
    font-family: Stam_Normal;
    src: url('../../fonts/Guttman_Stam.ttf');
}
@font-face {
    font-family: Stam_Keren;
    src: url('../../fonts/Guttman_Keren.ttf');
}
.zohar-text{
    white-space: normal;
    direction: rtl;
    font-family: Stam_Normal;
    text-align: justify;
    background: #FFF;
    color: rgb(51, 51, 51);
    text-shadow: none;
}
.zohar-text-no-bg{
    direction: rtl;
    font-family: Stam_Normal;
    text-align: justify;
    color: rgb(51, 51, 51);
    text-shadow: none;
}
