@import url(https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&subset=latin,latin-ext);
@font-face {
    font-family: Stam_Normal;
    src: url('../../fonts/Guttman_Stam.ttf');
}
@font-face {
    font-family: Stam_Keren;
    src: url('../../fonts/Guttman_Keren.ttf');
}


body{
    background-color:#efeff4;
    font-family: Georgia, serif;
}
*{
    text-shadow: none;
}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }
.size-14{font-size: 14px !important;}
.size-15{font-size: 15px !important;}
.size-16{font-size: 16px !important;}
.size-17{font-size: 17px !important;}
.size-18{font-size: 18px !important;}
.size-19{font-size: 19px !important;}
.size-20{font-size: 20px !important;}

.valign-middle{vertical-align: middle;}
.no-padding{
    padding:0 !important;
}

.no-margin{
    margin:0 !important;
}

.btn-unity{
    background: #de6706;
    color:#FFF;
}
.btn-unity:hover,.btn-unity:active,.btn-unity:focus{
    color:#FFF;
    text-decoration: none;
    background: #de6706;
}
a.btn-unity:hover,a.add-header:hover{
    color: #FFF;
    text-decoration: none;
}
.btn-unity{
    background: #de6706;
    color:#FFF;
}
a.add-header:active{
    position:relative;
    top: 1px;
}

.navbar-default{
    background: #de6706;
    border: 0;
}
.navbar{
    margin-bottom: 0;
}

.navbar-default .navbar-nav>.active>a{
    color: #FFF;
    background-color: #494c4e;
}

#main-navbar{
    text-align: center;
    float:none;
}
#main-navbar li{
    float: none;
    display: inline-block;
    text-transform: uppercase;

}
.navbar-default .navbar-nav>li>a{
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#FFF;
    text-decoration: underline;
}

h1#logo{
    text-align: center;
    text-transform: uppercase;
    color: #de6706;
    font-size: 4em;
}
h1#logo img{
    width: 68px;
    position: relative;
    top: -10px;
    margin-right: 28px;
}
.header-banner p{
    font-size: 1.25em;
    color: #142536;
}
#unity-container{
    background: #505050;
    padding-bottom: 13px;
}
#unity-container h2{
    color: #FFF;
}
.date-container{
    text-align: center;
    margin-bottom: 7px;
}
.main-content{
    background: #FFF;
}
.zohar-text{
    white-space: normal;
    direction: rtl;
    font-family: Stam_Normal;
    text-align: justify;
    background: #FFF;
    color: rgb(51, 51, 51);
    text-shadow: none;
}

.zohar-text p{
    margin-bottom: 5px;
    font-size: 15px;
}

.zohar-text-no-bg{
    direction: rtl;
    font-family: Stam_Normal;
    text-align: justify;
    color: rgb(51, 51, 51);
    text-shadow: none;
}
p.transliteration{
    font-size: 16px;
}

.list-date-container{
    width: 70px;
    border-radius: 50% 50%;
    background: rgba(115,152,177,0.5);
    padding: 10px 0px;
    opacity: 0.75;
    float: left;
    margin-right: 12px;
}
.list-date-container .day{

    display: block;
    margin: -4px auto 0;
    line-height: 16px;
    font-size: 1em;
    padding: 0;
    text-align: center;
    color:#fff;
    font-weight: bold;

}
.list-date-container .month{

    display: block;
    margin: 3px auto 0;
    line-height: 12px;
    font-size: 0.75em;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color:#fff;

}

.list-date-container .year{

    display: block;
    margin: 8px auto 0;
    line-height: 12px;
    font-size: 0.65em;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
}

.ui-page-theme-a .ui-btn{
    background: transparent;
}
.ui-listview>li.ui-last-child>a.ui-btn{
    border: 0 none;
}

.ui-listview>li h4.name{
    font-size: 0.8em;
    margin-top: 16px;
    color:#FFF;
}
p.short-info{
    font-size: 0.6em;
    color:#c8cdd0;
}
.ui-listview>li>a.ui-btn{
    border: 0 none;
}
.ui-page-theme-a .ui-btn:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.btn-blue,#load-more-index{
    background: #38c;
    margin-top: 25px;
    color: #FFF;
    text-shadow: none;
    border: 1px solid #38c;
}

#tzadiks-search-form .ui-field-contain>label~[class*=ui-]{
    float: none;
    width: inherit;
}
#select-month-button{
    display: block;
    background: #38c;
    border:1px solid #38c;
}
.ui-select .ui-btn>span:not(.ui-li-count){
    color:#FFF;
}

.app-banner{
    /*min-height: 400px;*/
}
.app-banner p{
    color: #142536;
    font-size: 1.25em;
}

#footer{
    background: #383330;
    min-height: 200px;
    color: #fff;
}

h2#banner-head{
    text-align: center;
color: #142536;
font-size: 3.5em;
margin-top: 58px;
margin-right: 18px;
}

h2#banner-head img{
    width: 68px;
    position: relative;
    top: -10px;
    margin-right: 28px;
}

#footer .dz-links li span{
    display: inline-block;
    margin: 0 0 0 9px;
}
#footer .dz-links li a,.mail-link a{
    color: #FFF;
    text-decoration: none;
    font-weight: normal;
}
#footer .dz-links li a:hover,.mail-link a:hover{
    color: #FFF;
    text-decoration: underline;

}
#footer .dz-share .social{
    text-indent: 10000px;
    display: inline-block;
    text-decoration: none;
    height: 26px;
    width: 26px;
    background: url("../../img/social.png") no-repeat;
    opacity: 0.5;
}
#footer .dz-share .social.twitter{
    background-position: -28px 0;
}
#footer .dz-share .social.gplus{
    background-position: -57px 0;
}

#footer .dz-share .social:hover{
    opacity: 1;
}
#footer .spread{
    font-family: 'Bilbo Swash Caps', cursive;
    margin: 21px 0;
    font-size: 2.7em;
}
label.date{
    border: 1px solid #de6706;
    border-radius: 3px;
    padding: 3px 7px;
    vertical-align: middle;
    margin-bottom:10px;
    display: inline-block;
    color:#fff;
    background-color: rgba(222, 104, 3, 0.6);
}
.date-container{
    text-align: center;
    margin-bottom: 7px;
}

@media (max-width : 991px) {
    .phones-container,.dz-share,.dz-links{
        text-align: center;
    }
}
.bio-header-container{
    color:#FFF;
}
.bio-image{
    position: absolute;
    top: -84px;
    height: 140px;
    overflow: hidden;
    width: 140px;
    border-radius: 50%;
    background-color: #f9f9f9;
}

@media (max-width : 767px) {
    .bio-image{
        position: relative;
        margin: 0 auto;
        top: -48px;
    }
}

nav#site-nav{
    font-size: 1.3em;
}
nav#site-nav a{
    color:#333;
    font-weight: normal;
}

nav#site-nav li + li::before {
    content: " | ";
    margin-right: 7px;
}

#prayers-list li,#faqs-list li{
    padding: 0;
    background-color: #142535;
    color: #FFF;
}
#prayers-list li h4,#faqs-list li h4{
    margin: 0;
}
#prayers-list li a,#faqs-list li a{
color: #FFF;
text-shadow: none;
}
#prayers-list li div.prayer-container, #faqs-list li div.anwser-container{
    white-space: normal;
    direction: rtl;
    font-family: Stam_Normal;
    text-align: justify;
    background: #FFF;
    color: rgb(51, 51, 51);
    text-shadow: none;
}





#faqs-list li div.anwser-container{
    direction: ltr;
    font-family: Georgia, serif;
}
#prayers-list li div.prayer-container p,#faqs-list li div.anwser-container p{
    white-space: normal;
    font-size: 1.2em;
}
.page-title{
    color: #FFF;
}
.favorites-block{
    width: 100%;
}
.favorites-block button{
    width: 50%;
}
.favorites-block #check-visited{
    border-radius: 4px 0 0 4px;
}
.register .form-horizontal .control-label{
    text-align: left;
}
.ui-input-btn input{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
}
.text-white{
    color: #FFF !important;
}
.ui-listview.donations-lists > li{
    padding:0;
    border:1px solid #CCC;
    margin-bottom:8px;
}
.donations-lists .ui-collapsible-content{
    padding:  8px 14px 7px 14px;
    border: 0;
}
.donations-lists  .ui-collapsible-inset .ui-collapsible-heading .ui-btn{
    padding:4px 20px;
    border: 0 none;
}
.donations-lists  .ui-collapsible-inset .ui-collapsible-heading label.ui-btn{
    padding:0 0 0 36px;
}
.donations-lists ul.elevation li{
    background-color: #142535;
    border: 0;
    margin-top: 1px;
}
.donations-lists ul.elevation.refua li{
    background-color: #53262a;
}
.donations-lists ul.elevation.success-life li{
    background-color: #565530;
}
.elevation.ui-listview>.ui-li-static.ui-li-has-thumb{
    min-height: 0;
    padding-left: 58px;
}
.elevation.ui-listview  img{
    width: 18px;
    margin:5px 5px 3px 20px;
}

.elevation.refua.ui-listview img {
    width: 44px;
    margin: -2px 7px;
}

.elevation.success-life.ui-listview img {
    width: 54px;
    margin: -3px 0 0 0;
}

.heb-text{
    font-family:Stam_Normal, cursive, sans-serif;
}
.rtl-text{
    direction: rtl;
}

p.comment{
	margin-left:10px;
}

.comment-container{
	border-bottom: 1px solid #CCC;
}
.reply-to{
	margin-top:10px;
	font-size:0.9em;
	color:#555;
	font-style:italic;
}
.comment-container.response{
	margin-left:30px;
}

#authMessage{
    font-size: 14px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.donations-lists > div.ui-collapsible{
	border: 1px solid #CCC;
}
h2.options-headers{
	background:#38c;
	color:#FFF;
}
h2.options-headers a.ui-btn {
color: #FFF;
text-shadow: none;
}
.donations-lists .ui-flipswitch .ui-btn.ui-flipswitch-on{
	text-indent: -48px;
}
.donations-lists .ui-flipswitch.ui-flipswitch-active{
    width: 72px;
}

#first-options input[type="radio"]{
margin:-10px 3px;
}

#first-options .ui-btn.ui-checkbox-off:after, #first-options .ui-btn.ui-checkbox-on:after,
#first-options .ui-btn.ui-radio-off:after, #first-options .ui-btn.ui-radio-on:after{
margin:-6px 3px 0 4px;
}

h2.options-headers .ui-page-theme-a .ui-btn:hover{
    color:#FFF;
    text-shadow: none;
}
span.tzadik-name{
    font-style: italic;
    font-weight: bold;
}

#modal-background {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 10000;
    display: none;
}

#modal-content {
    display: none;
    background-color: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;


    left: 50%;
    margin: -120px 0 0 -160px;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 320px;
    z-index: 11000;
}

#meditation-button{
position: relative;
top: 15px;
}
#meditation-button:active{
    top:16px;
}
#meditation-text{
    display: none;
}
span.normal_text_par{
    color:#3c8dbc !important;
    font-size: 0.8em;
}
span.dalet_pei_par{
    color: #f56954 !important;
    font-size: 0.8em;
}
span.nun_aleph_par{
    color: #b04ecc !important;
    font-size: 0.8em;
}
span.samech_aleph_par{
    color: #ff8a47 !important;
    font-size: 0.8em;
}
#map-canvas {
    height: 510px;
}


.add-header{
    display: inline-block;
    margin: 0 auto;
    background: #de6706;
    color: #FFF;
    padding: 7px 12px;
    font-size: 0.75em;
    font-weight: normal;
    border-radius: 4px;
    position: relative;
    z-index: 2;
}
.add-header + hr {
    margin: 0;
    position: relative;
    top: -17px;
    z-index: 1;
    border: 1px solid #de6706;
}

.panel-default.panel-healing>.panel-heading{
    background: #FFF;
}
.panel-default.panel-unity{
    border-color: #de6706;
}
.panel-default.panel-unity>.panel-heading {
    color: #FFF;
    background-color: #de6706;
    border-color: #de6706;
}
ul.healing-list li.refua{
    background: url(../../img/refua-icon.svg) no-repeat 8px center #53262a;
    color: #FFF;
    padding-left: 70px;
    background-size: 45px;
}
ul.healing-list li.wish{
    background: url(../../img/success-icon.svg) no-repeat 5px center #565530;
    color: #FFF;
    padding-left: 70px;
    background-size: 59px;
}
ul.healing-list li.bless{
    background: url(../../img/candle-elevation.png) no-repeat 24px 3px #142535;
    color: #FFF;
    padding-left: 70px;
    background-size: 18px;;
}


.padded{
    padding:15px;
    background: #FFF;
    border:1px solid #ddd;
    border-style: none solid solid solid;

}
span.paragraph-nums{
    display: inline-block;
    direction: ltr !important;
}
span.paragraph-nums::before{
    content: '[';
    font-size: 20px;
    
}
span.paragraph-nums::after{
    content: ']';
    font-size: 20px;

}

.grey{
    background: #f5f5f5;
}

.tiles-container  div.tile{
    height: 200px;
    overflow: auto;

}
.tiles-container > div h2{
    background: rgba(255,255,255,0.4);
    color: #FFF;
    margin-top: 61px;
    padding: 19px;
}
.tiles-container > div h3{
    color: #FFF;
    margin: 0px;
    padding: 6px 0px;

}
.tiles-container a{
    color:#FFF;
}
.tiles-container .tile-1{
    background: url("../../img/map1.png") no-repeat;
    background-size: 100% 100%;

}
.tiles-container .tile-2{
    background: url("../../img/map2.png");
    background-size: 100% 100%;
}
.tiles-container .tile-3{
    background: url("../../img/map3.png");
    background-size: 100% 100%;
}
.tiles-container .tile-footer {
    background: #de6706;
    margin-bottom: 5px;
}
.tiles-container .tile-footer2 {
    background: #0d144a;
    margin-bottom: 5px;
}
.bible-container{
    height: 380px;
    background: url("../../img/bible.png") no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}
h3.membership{
    background: rgba(11,48,84,0.8);
    color: #FFF;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}
.membership-content{
    color: #FFF;
    background: rgba(134,134,134,0.5);
    padding: 10px 0;
    margin: 10px 10px;
}
.membership-content h4{
    font-size: 1.6em;
}
a.enter{
    display: block;
    margin: 21px auto 0;
    width: 200px;
    border: 1px solid #FFF;
    text-align: center;
    color: #FFF;
    padding: 10px;
    font-size: 31px;
    background: rgba(100,100,100,0.1);
    text-shadow: 4px 2px 6px #000;
}
a.enter:hover,a.enter:focus{
    text-decoration: none;
}
#membership-card{
    background: url("../../img/tarjeta.png") no-repeat;
    width: 549px;
    height: 347px;
    position: relative;
}
#membership-card span.name {
    position: absolute;
    font-size: 35px;
    color: #FFF;
    left: 15px;
    top: 7px;
    text-shadow: 2px 2px 2px #222;
}
#membership-card span.level{
    position: absolute;
    bottom: 1px;
    right: 15px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 2px 2px 2px #222;
}

.inline-block{
    display: inline-block;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}